nav
  .logo
    a(href="/") Impulse
  .links.hidden-xs.hidden-sm
    a(href="guides.html") Guides
    a(href="api.html") API
    a(href="examples.html") Examples
    a(href="https://github.com/luster-io/impulse") Github
  .menu-handle.hidden-md.hidden-lg
    span
.pull-down-menu.hidden-md.hidden-lg
  a(href="guides.html") Guides
  a(href="api.html") API
  a(href="examples.html") Examples
  a(href="https://github.com/luster-io/impulse") Github
  .close-handle
    .arrow-left
    .arrow-right