.toc
  h4 Impulse
  ul
    li
      a(href="#impulse-constructor") Constructor
    li
      a(href="#impulse-style") style
    li
      a(href="#impulse-position") position
    li
      a(href="#impulse-velocity") velocity
    li
      a(href="#impulse-spring") spring
    li
      a(href="#impulse-accelerate") accelerate
    li
      a(href="#impulse-decelerate") decelerate
    li
      a(href="#impulse-interact") interact
    li
      a(href="#impulse-drag") drag
    li
      a(href="#impulse-attachSpring") attachSpring

  h4 Animation
  ul
    li position
    li velocity
    li from
    li to
    li start
    li cancel

  h4 Interaction
  ul
    li position
    li velocity
    li from
    li to
    li start
    li cancel

  h4 AttachedSpring
  ul
    li position
    li velocity
    li start
    li stop

  h4 Drag
  ul
    li on
    li events
    li moved

.contents
  h1 API
  .docs!= partial("../API")