.toc.col-sm-3
  h4 Impulse
  ul
    li
      a(href="#impulse-constructor") Constructor
    li
      a(href="#impulse-style") style
    li
      a(href="#impulse-position") position
    li
      a(href="#impulse-velocity") velocity
    li
      a(href="#impulse-spring") spring
    li
      a(href="#impulse-accelerate") accelerate
    li
      a(href="#impulse-decelerate") decelerate
    li
      a(href="#impulse-interact") interact
    li
      a(href="#impulse-drag") drag
    li
      a(href="#impulse-attachSpring") attachSpring
    li
      a(href="#impulse-direction") direction

  h4 Animation
  ul
    li
    a(href="#animation-position") position
    li
    a(href="#animation-position") velocity
    li
    a(href="#animation-position") from
    li
    a(href="#animation-position") to
    li
    a(href="#animation-position") start
    li
    a(href="#animation-position") cancel

  h4 Drag
  ul
    li
    a(href="#drag-on") on
    li
    a(href="#drag-events") events
    li
    a(href="#drag-moved") moved

  h4 Interaction
  ul
    li
    a(href="#interaction-position") position
    li
    a(href="#interaction-position") velocity
    li
    a(href="#interaction-position") from
    li
    a(href="#interaction-position") to
    li
    a(href="#interaction-position") start
    li
    a(href="#interaction-position") cancel

  h4 AttachedSpring
  ul
    li
      a(href="attached-spring-stop") stop
    li
      a(href="attached-spring-position") position
    li
      a(href="attached-spring-velocity") velocity

.contents.col-sm-9
  h1 API
  .docs!= partial("../API")
