.row
  .list.col-md-6
    h1 Examples

    .warning.hidden-xs.hidden-sm
      h3 You're on Desktop!
      :markdown
        You can use your mouse, but these demo's are much
        cooler on your phone or tablet!

    .example.chat-heads
      h2 Chat Heads

      :markdown

        A "chat heads" chat overlay, much like facebook's. This demo uses the
        `interaction`, `spring`, and `attachSpring` methods.

        There is a main chat head, which you drag around, and then each
        additional head is attached to the next, kindof like a linked list!

      .button-group
        a.button(href="https://github.com/luster-io/demo-chat-heads") Github
        a.hidden-xs.hidden-sm.button(href="http://luster-io.github.io/demo-chat-heads" target="preview-frame") Try It
        a.hidden-md.hidden-lg.button(href="http://luster-io.github.io/demo-chat-heads" target="_blank") Try It

    .example.pulldown-menu
      h2 pulldownMenu

      :markdown

        A pull down menu, with a feel like the ios 7 notifications pulldown-menu.
        Accelerates down and bounces as if pulled by gravity, and
        springs closed.

      .button-group
        a.button(href="https://github.com/luster-io/demo-pull-down-menu") Github
        a.hidden-xs.hidden-sm.button(href="http://luster-io.github.io/demo-pull-down-menu" target="preview-frame") Try It
        a.hidden-md.hidden-lg.button(href="http://luster-io.github.io/demo-pull-down-menu" target="_blank") Try It


    .example.simulated-scrolling
      h2 Simulated Scroll
      .warning
        h3 ACHTUNG!
        :markdown
          Unless your situation is extreme, you should probably not use
          simulated scrolling in a real app, since there are A TON of optimizations
          that modern mobile browsers do to give you the silkiest, smoothest
          possible scrolling experience.

      :markdown

        Simulated scrolling with inertia, deceleration, overscroll
        and bounce, in about 30 lines.

        Chat bubble and header designed with [Framework7](http://www.idangero.us/framework7/), an amazing
        library for building web apps with ios 7's look.

      .button-group
        a.button(href="https://github.com/luster-io/demo-simulated-scrolling") Github
        a.hidden-xs.hidden-sm.button(href="http://luster-io.github.io/demo-simulated-scrolling" target="preview-frame") Try It
        a.hidden-md.hidden-lg.button(href="http://luster-io.github.io/demo-simulated-scrolling" target="_blank") Try It

    .example.oridomi
      h2 Oridomi Cover

      :markdown

        This example uses the awesome
        [oridomi](https://github.com/dmotz/oriDomi) library as a custom
        renderer.

        Normally oridomi elements don't animate open and closed on swipe.
        We used impulse to add the ability to open and close the "cover"
        with just a few lines in Impulse.

      .button-group
        a.button(href="https://github.com/luster-io/demo-oridomi-renderer") Github
        a.hidden-xs.hidden-sm.button(href="http://luster-io.github.io/demo-oridomi-renderer" target="preview-frame") Try It
        a.hidden-md.hidden-lg.button(href="http://luster-io.github.io/demo-oridomi-renderer" target="_blank") Try It


    .example.bounce-scroll
      h2 Bouncy Scrolling

      .notice
        h3 BETA

        This demo is using an experimental optimization branch of impulse, and doesn't
        perform very well on a lot of devices.

      :markdown
        Taking the previous example to the extreme, we added bouncy scrolling,
        similar to iOS 7 Messages App bouncy scroll.  This example may be slower
        on older devices, due to the number of compositor RenderLayers (each
        message), as well as the number of springs that need to be simulated.

      .button-group
        a.button(href="https://github.com/luster-io/demo-bounce-scroll") Github
        a.hidden-xs.hidden-sm.button(href="http://luster-io.github.io/demo-bounce-scroll" target="preview-frame") Try It
        a.hidden-md.hidden-lg.button(href="http://luster-io.github.io/demo-bounce-scroll" target="_blank") Try It

    :markdown
      Built something awesome and want to share? Let us know and we can include
      it on this page!


  .preview.col-md-6.hidden-xs.hidden-sm
    iframe.item(name="preview-frame")
