.landing
  :markdown
    #Dynamic <span class="bounce">Physics</span> Animations

    ###Create High-Performance <span class="interactive">Interactions</span> for the Mobile Web

  .button-group
    a.button(href="https://github.com/luster-io/impulse") Get Impulse

