.landing
  :markdown
    #<div class="pullMe">Dynamic <span class="bounce">Physics</span> Animations</div>

    ###<div class="pullMe second">Create High-Performance <span class="interactive">Interactions</span> for the Mobile Web</div>

  .button-group
    a.button(href="https://github.com/luster-io/impulse") Get Impulse

