.landing
  :markdown
    #<div class="pullMe">Dynamic <span class="bounce">Physics</span> Animations</div>

    ###<div class="pullMe second">Create High-Performance <span class="interactive">Interactions</span> for the Mobile Web</div>

  .button-group
    a.button(href="installation.html") Get Impulse

  .small-note PROTIP: You can interact with the title.

  .footer
    :markdown
      Code by [Zach Smith](https://twitter.com/coderzach) Design by [Adrian Del Balso](https://twitter.com/a_delbalso)
