$buffer = 20px;
$radius = 4px;
$primaryColor = #FF2A68; /* #e53c6c; */
$secondaryColor = #0da0cc;
$warningColor = #FF2D55;
/* #e53c6c #E8518B */

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #333;
  margin: 0;
}

.warning {
  padding: 20px;
  border: 1px solid #ededed;
  border-left: 5px solid $warningColor;
  border-radius: 3px;

  p {
    padding-bottom: 0;
  }

  h3 {
    color: $warningColor;
    padding: 0;
    margin: 0;
  }
}

.notice {
  padding: 20px;
  border: 1px solid #ededed;
  border-left: 5px solid $secondaryColor;
  border-radius: 3px;

  p {
    padding-bottom: 0;
  }


  h3 {
    color: $secondaryColor;
    padding: 0;
    margin: 0;
  }
}

.example {
  padding-bottom: 20px;
}

h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: $primaryColor;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

a[href]:hover {
  color: $primaryColor;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  cursor: default;
  margin-top: -3px;
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 76px;

  a:link, a:visited {
    text-decoration: none;
    color: #333;
  }
}

.toc {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding: 40px 20px 0 20px;
  float: left;

  ul {
    margin: 5px 0 20px 0;
    padding: 0;
  }
  li {
    list-style:none;
  }
  h4 {
    font-size: 20px;
    margin: 0;
  }
}

code, pre {
  font-size: 16px;
}

.contents {
  width: 75%;
  position: relative;
  min-height: 1px;
  padding: 0 20px;
  float: left;
}

.container {
  position: relative;
  padding-top: 80px;
  max-width: 960px;
  margin: 0 auto;
}

.button-group {
  margin: 20px 0;
  width: 100%;
}

a.button {
  border: 2px solid $primaryColor;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  font-size: 20px;
  font-weight: 400;
  color: $primaryColor;
  margin: 0 20px 0 0;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: white;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);

  a:link, a:visited {
    color: $primaryColor;
  }

  .links {
    position: absolute;
    right: 40px;
    top: $buffer;

    a {
      margin-left: 40px;
      padding: 10px 20px;
    }
  }

}

.list {
  padding: 0 20px;
  position: absolute;
  width: 50%;
}

.preview {
  border: 0;
  background-image: url(http://adriandelbalso.com/images/iphone_frame.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color:#f0f0f0;
  position: fixed;
  right: 0;
  top: 70px;
  bottom: 0;
  width: 50%;
  text-align:center;

  .item {
    background-color: #999;
    width: 276px;
    height: 416px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
  }
}