$buffer = 20px;
$radius = 4px;
$primaryColor = #E8518B;

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: #FF2A68;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #FF2A68;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  cursor: default;
  margin-top: -3px;
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 76px;
  a:link, a:visited {
    text-decoration: none;
    color: #333;
  }
}

.toc {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding: 40px 20px 0 20px;
  float: left;

  ul {
    margin: 5px 0 20px 0;
    padding: 0;
  }
  li {
    list-style:none;
  }
  h4 {
    font-size: 20px;
    margin: 0;
  }
}

code, pre {
  font-size: 16px;
}

.contents {
  width: 75%;
  position: relative;
  min-height: 1px;
  padding: 0 20px;
  float: left;
}

.container {
  padding-top: 80px;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: white;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);

  a:link, a:visited {
    color: #FF2A68;
  }

  .links {
    position: absolute;
    right: 40px;
    top: $buffer;

    a {
      margin-left: 40px;
      padding: 10px 20px;
    }
  }

}